.gallery{
    display: flex;
    flex-wrap: wrap;
    
    gap: 30px;
}
 
.gallery-item{
    flex-basis: calc((100% - 30px * 2) / 3);
}

.gallery-item:first-child .gallery-img{
    object-fit: cover;
}

